.product-preview-card {
  background-color: #3d405b;

  &__title {

    font-style: bold;
    color: #e07a5f;
  }

  &__description {
    color: #f4f1de;
  }

  &__image {
    width: 10rem;
  }

  &__shipping {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #81b29a;
  }
}
