#login_button{
    border-radius: 4px;
    padding: 25px;
    right: 15px;
    top: 15px;
    position: fixed;

    color: white;
    font-size: 18px;
    font-family: "Georgia", Times, serif;
    font-weight: bold;


    margin-top: 15px;
    margin-right: 15px;

    background-image: linear-gradient(to bottom right, teal, rgb(60, 143, 60));
    
}

#signup_button{
    border-radius: 4px;
    padding: 25px;
    right: 135px;
    top: 15px;
    position: fixed;

    color: white;
    font-size: 18px;
    font-family: "Georgia", Times, serif;
    font-weight: bold;


    margin-top: 15px;
    margin-right: 15px;

    background-image: linear-gradient(to bottom right, teal, rgb(60, 143, 60));
    
}