.home-page {
  &__title {
    color: blue;
    font-family: "Comic Sans MS";
  }

  &__products {
    display: flex;
    flex-direction: column;

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
